<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example2</title>
</head>
<body>
    <p>hello <%= name%></p>
    <p class="red">this should be red</p>
</body>
</html>